@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

:root{
    --gray: #363636;
    --bg: #fff;
    --color_background: #87ceeb;
    --primary: #03349e;
}
.gray{
    color: #363636;
}
body{
    background-color: var(--color_background);
    background-image: url('bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: contain; */
}

.wrapper{
    /* background-color: red; */
    height: 100vh;
    display: grid;
    place-content: center;
}

.container{
    /* max-width: 50vh; */
    /* height: 90vh; */
    margin: 2rem auto;
    background-color: var(--bg);
    border: 1px solid white;
    padding: 2rem;
}
.container > h2{
    color: var(--gray);
    text-transform: uppercase;
    padding: 1rem 0;
}
form{
    /* background: pink; */
    height: fit-content;
}
.element{
    padding: 1rem 0;
}

.form_label{
    display: block;
}
label{
    color: var(--gray);
}
.form_input{
    outline: none;
    /* border-radius: 5px; */
    /* border-top: 0;
    border-left: 0;
    border-right: 0; */
    border: 0;
    border-bottom: .1px solid var(--gray);
    width: 100%;
    height: 2rem;
}

.btn{
    width: 100%;
    height: 30px;
    text-transform: uppercase;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: var(--primary);
    color: #fff;
}

.social_icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
    /* background-color: red; */
}

.icons{
    /* color: var(--color_background); */
    color: var(--bg);
    font-size: 1.2rem;
    background-color: var(--primary);
    padding: .5rem;
    border-radius: 50%;
    cursor: pointer;
}
.icons:hover{
    caret-color: var(--primary);
    background-color: #135bf7;
}
